@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
}
@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: normal;
  src: url('./RobotoMono-Regular.ttf') format('ttf');
}
